name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v5
      with:
        distribution: 'zulu'
        java-version: 17
    - run: chmod +x gradlew
    - run: ./gradlew build
